<h1>Don Rodrigo</h1>
<br>
<p>Roderico o Rodrigo —nombrado en numerosas fuentes clásicas como don Rodrigo— ha sido uno de los mejores tenderos que podemos encontrar en nuestra tierra. Categorizado por tener el mejor sistema de ventas informático, Don Rodrigo es todo un berraco!</p>
